<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script>
    $(document).ready(function() {
      $( "#loginbutton" ).on( "click", function() {
        alert( "Handler for .submit() called." );
      });
    });
  </script>
</head>
<body>
  <div class="container">
    {% if data.service %}
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Sign into {{ data.service }}.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="align-middle">Sign into {{ data.service }} using your Compliment Box login.</p>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Username:</label>
          <input class="form-control" id="username">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button id="loginbutton" type="button" action="submit" class="btn btn-primary center">Login</button>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-sm-6">
        <h1 class="text-center">Missing parameters.</h1>
        <p>The service is unable to complete your request at this time.</p>
    </div>
    <div class="col-sm-6">
      <b class="text-center">Missing parameters:</b>
      {% for par in data.missing_paramaters %}
        <p>{{ par }}</p>
      {% endfor %}
    </div>
  </div>
    {% endif %}
  </div>
</body>
</html>
